<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.via.shinviamock.card.mapper.MockCardMapper">

    <select id="selectCardList" resultType="CardInfoDto">
        SELECT
            card_id,
            bank_code_std,
            card_number_masked,
            card_name,
            card_member_type
        FROM mock_card_info
        WHERE ci = #{ci}
        ORDER BY card_id
    </select>
    <select id="selectCardListByBank" resultType="CardInfoDto">
        SELECT
        card_id,
        card_num_masked,
        card_name,
        card_member_type
        FROM mock_card_info
        WHERE ci = #{ci}
        AND bank_code_std = #{bankCodeStd}
        ORDER BY card_id
    </select>

    <select id="selectCardBills" resultType="com.via.shinviamock.card.dto.response.CardBillDto">
        SELECT
            b.charge_month,
            b.settlement_seq_no,
            b.card_id,
            b.charge_amt,
            b.settlement_day,
            b.settlement_date,
            b.credit_check_type
        FROM mock_card_bill b
        JOIN mock_card_info c ON b.card_id = c.card_id
        WHERE b.ci = #{ci}
          AND c.bank_code_std = #{bankCodeStd}
          AND b.charge_month BETWEEN #{fromMonth} AND #{toMonth}
        ORDER BY b.charge_month, b.card_id, b.settlement_seq_no
    </select>

</mapper>
